<div class="row" *ngIf="message.sender.pseudo == 'Canard Man';else userMessage">
    <div class="col-2">
        <img src="assets/canardMan.png" height="50" width="50" [ngClass]="{ 'float-right': true }" alt="..." class="rounded-circle">
    </div>
    <div class="col-10">
        <div class="alert alert-dark" role="alert">
            {{ message.content }}
        </div>
    </div>
</div>

<ng-template #userMessage>
    <div class="row">
        <div class="col-10">
            <div class="alert alert-info" role="alert">
                {{ message.content }} <i *ngIf="message.status == 'PENDING'" class="pull-right fa fa-spinner fa-spin fa-fw"></i><i *ngIf="message.status == 'OK'" class="pull-right fa fa-check"></i>
            </div>
        </div>
        <div class="col-2">
            <img src="assets/herodev.png" height="50" width="50" class="rounded-circle">
        </div>
    </div>
</ng-template>